/*-- Общие для двух страниц --*/

body {
  min-width: 1200px;
  margin: 0px;
  padding: 0px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: rgb(0, 0, 0);
  text-transform: uppercase;

  background-color: rgb(242, 242, 242);
}

.container {
  width: 1200px;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*-------ШАПКА----------*/

.main-header {
  position: relative;
  padding: 0 72px;

  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);

}

.header-logo {
  position: absolute;
  left: 530px;

  width: 140px;
  height: 70px;

}

.main-navigation ul {
  margin: 0px;
  padding: 0px;

  font-size: 0px;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;

  width: 240px;

  font-size: 14px;
  line-height: 26px;
}
.main-navigation li:nth-child(2) {
  margin-right: 96px;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
  text-align: right;
}

.main-navigation a {
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;

  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;

}

.main-navigation a:hover {
  color: rgb(129,179, 210);
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

a.navigation-active {
  color: rgb(118, 99, 87);
}

/*------Футер---------*/

.main-footer {
  padding: 36px 0;
  font-size: 0px;
  color: rgb(0, 0, 0);
  background-color: rgba(252, 252, 252, 0.1);

}
.main-footer div {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 400px;
  font-size: 14px;
}

 /*Хэштег-блок*/
.footer-hashtag a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/*Социальный блок*/
.footer-social {
  font-size: 0px;
}

.footer-social a {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
  width: 46px;
  height: 48px;

  font-size: 0px;
  background-color: rgb(129, 179, 210);
}

.footer-social a:hover {
  background-color: rgb(102, 158, 192);
}

.footer-social a:active {
  background-color: rgb(84, 150, 189);
  opacity: 0.3;  /* здесь проблема */
}

.social-btn-tw {
  background-image: url("../img/spritesheet.png");
  background-position: -170px -57px;
}
.social-btn-fb {
  background-image: url("../img/spritesheet.png");
  background-position: -133px -57px;
}
.social-btn-ut {
  background-image: url("../img/spritesheet.png");
  background-position: -212px -57px;
}

/*Копирайт-блок*/
.footer-copyright {
    font-size: 0px;
}

.footer-copyright span {
  font-size: 14px;
  line-height: 26px;

}

.footer-copyright a {
  display: inline-block;
  width: 115px;
  height: 40px;
  vertical-align: middle;
  font-size: 0px;
  background-image:  url("../img/spritesheet.png");
  background-position: -9px -10px;
}

.footer-copyright a:hover {
  background-image:  url("../img/spritesheet.png");
  background-position: -144px -10px;
}

.footer-copyright a:active {
  background-image:  url("../img/spritesheet.png");
  background-position: -9px -70px;
}

/*-- Главная страница --*/

/*------ИНТРО-ФОН-------*/
.main-intro {
  height: 508px;
  background-color: rgb(227, 240, 248);
  background-image: url("../img/index-background.jpg");
}

.main-intro h1,
.main-intro p {
  font-size: 0px;
}

/*----ТОП------*/

.main-top {
  width: 576px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 39px;
  text-align: center;
}

.main-top .lead {
  margin: 0px;
  margin-bottom: 27px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.main-top p {
  line-height: 26px;
}

/*Преимуществa общее*/

.feature-item {
  width: 280px;
  padding: 46px 60px 42px;;
  text-align: center;
  background-color: rgb(129, 179, 210);
  color: rgb(255, 255, 255);
}

.feature-item h2 {
  margin: 0px;

  font-size: 21px;
  line-height: 21px;
  font-weight: bold;

}

.feature-item p {
  margin: 21px 0px;
}

/*Фото-преимущества*/

.features-photo-right .item-left {
  float: left;
}

.features-photo-right::after {
  content: "";
  display: block;
  float: left;
  width: 800px;
  height: 256px;
  background-color: rgb(172, 185, 167);
  background-image: url("../img/index-features-photo-right.jpg");
}

.features-photo-left .item-right {
  float: left;
}

.features-photo-left::before {
  content: "";
  display: block;
  float: left;
  width: 800px;
  height: 256px;
  background-color: rgb(231, 145, 90);
  background-image: url("../img/index-features-photo-left.jpg");
}

/*Иконочные преимущества - НЕ СДЕЛАНО*/

.icon-item {
  width: 400px;
  float: left;
  padding-top: 167px;
  padding-bottom: 83px;
}

/*Серые преимущества*/
.item-gray {
  float: left;
  background-color: rgb(238, 238, 238);
  color: rgb(0, 0, 0);
}

.item-gray p {
  color: rgb(51, 51, 51);
}

/*Нижняя часть*/

.hotel-search {
  padding-top: 55px;
}


.hotel-search-intro {
  width: 575px;
  margin: 0 auto;

  text-align: center;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
}

.hotel-search-intro p:nth-child(2) {
  margin-bottom: 47px;

  line-height: 24px;
}

/*Кнопочные элементы все*/

.btn {
  padding: 3px 16px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;

  border: none;

  cursor: default;
}

.btn-brown {
  background-color: rgb(118, 99, 87);
}

/*Кнопка открытия формы */

.showform-btn {
  padding: 30px 138px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

/* ФОРМА - НЕ СДЕЛАНО*/

.hotel-search-form {
  width: 568px;
  padding: 55px;
  margin: 0 auto;
}

/*КАРТА*/

.sedona-map {
  height: 473px;
  background-color: rgb(242, 241, 239);
  background-image: url("../img/index-map.jpg");
}




/*-- Каталог --*/

.catalog-hotel-search-form {
  padding: 29px 72px 32px;
}

.fieldset-left,
.fieldset-center {
  float: left;
  width: 240px;
}

.fieldset-right {
  float: right;
  width: 327px;
}

.catalog-sorting {
  padding: 32px 72px 30px;
}

.results-count {
  width: 160px;
  float: left;
}

.sorting-criterions {
  width: 367px;
  float: left;
}

.sorting-direction {
  width: 327px;
  float: right;
}

.catalog-item {
  padding: 27px 72px 30px;
}

.item-info-left {
  width: 727px;
  float: left;
}

.item-info-right {
  width: 240px;
  float: right;
}


/*
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-allpages-footer-icon-htmlacademy {
    width: 115px;
    height: 40px;
    background-position: -10px -10px;
}

.sprite-allpages-footer-icon-htmlacademy-active {
    width: 115px;
    height: 40px;
    background-position: -145px -10px;
}

.sprite-allpages-footer-icon-htmlacademy-hover {
    width: 115px;
    height: 40px;
    background-position: -10px -70px;
}

.sprite-allpages-footer-social-icon-facebook {
    width: 20px;
    height: 20px;
    background-position: -145px -70px;
}

.sprite-allpages-footer-social-icon-twitter {
    width: 20px;
    height: 20px;
    background-position: -185px -70px;
}

.sprite-allpages-footer-social-icon-youtube {
    width: 20px;
    height: 20px;
    background-position: -225px -70px;
}

.sprite-catalog-hotelclass-star {
    width: 24px;
    height: 18px;
    background-position: -145px -110px;
}

.sprite-catalog-input-checkbox {
    width: 26px;
    height: 22px;
    background-position: -189px -110px;
}

.sprite-catalog-input-checkbox-checked {
    width: 26px;
    height: 22px;
    background-position: -235px -110px;
}

.sprite-catalog-input-checkbox-readonly {
    width: 26px;
    height: 22px;
    background-position: -10px -152px;
}

.sprite-catalog-input-checkbox-readonly-checked {
    width: 26px;
    height: 22px;
    background-position: -56px -152px;
}

.sprite-index-feature-icon-burger {
    width: 76px;
    height: 76px;
    background-position: -102px -152px;
}

.sprite-index-feature-icon-gift {
    width: 76px;
    height: 76px;
    background-position: -280px -10px;
}

.sprite-index-feature-icon-house {
    width: 76px;
    height: 76px;
    background-position: -281px -106px;
}

.sprite-index-input-icon-calendar {
    width: 22px;
    height: 22px;
    background-position: -10px -202px;
}

.sprite-index-input-icon-calendar-active {
    width: 22px;
    height: 22px;
    background-position: -52px -202px;
}

.sprite-index-input-icon-calendar-hover {
    width: 22px;
    height: 22px;
    background-position: -198px -202px;
}

.sprite-index-input-icon-minus {
    width: 12px;
    height: 12px;
    background-position: -240px -202px;
}

.sprite-index-input-icon-minus-active {
    width: 12px;
    height: 12px;
    background-position: -272px -202px;
}

.sprite-index-input-icon-minus-hover {
    width: 12px;
    height: 12px;
    background-position: -304px -202px;
}

.sprite-index-input-icon-plus {
    width: 12px;
    height: 12px;
    background-position: -336px -202px;
}

.sprite-index-input-icon-plus-active {
    width: 12px;
    height: 12px;
    background-position: -240px -234px;
}

.sprite-index-input-icon-plus-hover {
    width: 12px;
    height: 12px;
    background-position: -272px -234px;
}
