/*-- Общие для двух страниц --*/

body {
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  min-width: 1200px;
  background-color: rgb(242, 242, 242)
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header-logo {
  width: 140px;
  height: 70px;
  display: none;
}

.main-navigation {
  padding: 0 72px;
}

.main-footer {
  padding: 36px 0;
  font-size: 0px;

}
.main-footer div {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
  font-size: 14px;
}

/*-- Главная страница --*/

.main-intro {
  height: 508px;
}

.main-top {
  width: 576px;
  margin: 0 auto;
  padding-top: 61px;
  padding-bottom: 55px;

}

.feature-item {
  width: 400px;
  padding-top: 47px;
  padding-bottom: 61px;
}

.icon-item {
  width: 400px;
  float: left;
  padding-top: 167px;
  padding-bottom: 83px;
}

.item-right {
  float: right;
}

.item-grey {
  float: left;
}
.hotel-search {
  padding-top: 54px;
}

}
.hotel-search-intro {
  width: 576px;
  margin: 0 auto;
}
.hotel-search-form {
  width: 568px;
  padding: 55px;
  margin: 0 auto;
}

.sedona-map {
  height: 473px;
}
/*-- Каталог --*/

.catalog-hotel-search-form {
  padding: 29px 72px 32px;
}

.fieldset-left,
.fieldset-center {
  float: left;
  width: 240px;
}

.fieldset-right {
  float: right;
  width: 327px;
}

.catalog-sorting {
  padding: 32px 72px 30px;
}

.results-count {
  width: 160px;
  float: left;
}

.sorting-criterions {
  width: 367px;
  float: left;
}

.sorting-direction {
  width: 327px;
  float: right;
}

.catalog-item {
  padding: 27px 72px 30px;
}

.item-info-left {
  width: 727px;
  float: left;
}

.item-info-right {
  width: 240px;
  float: right;
}


/*-- Стили задания №3 --*/

p.lead {
  font-family: "PT Sans", "Arial", serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.feature-item h2 {
  font-family: "PT Sans", "Arial", serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}
/*------------------------*/
