body {
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.main-top h1 {
  font-family: "PT Sans", "Arial", serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.feature-item h2 {
  font-family: "PT Sans", "Arial", serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
}
